@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    transition: all .35s ease-in-out;
}

@layer utilities {
    html,body{
        overflow-x: hidden;
    }
    .shad{
        box-shadow: 4px 4px 16px -2px #1c64f24d;
    }
}